@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 250, 246);
  margin-left: 15vw;
  margin-right: 10vw;
}
* {
}
.gallery {
  width: 70vw;
  height: 70vh;
  border: 2px black solid;
  margin: 1rem;
}
.header {
  width: 70vw;
  font-family: "Dancing Script", cursive;
  font-family: "Raleway", sans-serif;
}

.imag {
  width: 8rem;
  height: 8rem;
  border: 2px black solid;
  margin: 2rem;
  border-radius: 100%;
}
.content-one {
  width: 80%;
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 1rem;
}
.follow span {
  display: flex;
  justify-items: center;
  justify-content: start;
  flex-direction: row;
}
h1,
span {
  margin-right: 1rem;
}
.follow h1 {
  font-family: "Dancing Script", cursive;
  font-family: "Raleway", sans-serif;
}

.button-follow {
  position: relative;
  top: 1.5rem;
  width: 5rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: #0195f6;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: white;
}
.menu {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  width: 70vw;
  height: 5vh;
  border-bottom: 2px rgb(51, 50, 50) solid;
  padding: 0.5rem;
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
}
.insta {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 1.5em;
  width: 8%;
  height: 90%;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 30%;
}
.icons span {
  width: 3rem;
  height: 3rem;
  border: black 2px solid;
  border-radius: 100%;
}
.input {
  background-color: transparent;
  width: 15%;
  height: 2rem;
  border-radius: 5px;
  border: solid 1px rgb(104, 101, 101);
  text-align: center;
  font-size: 1rem;
}
.text span {
  flex-direction: column;
}
.GalaryFoto {
  display: inline-table;
  width: 23%;
  height: 30%;
  padding: 5px;
  border: 2px red dashed;
}
.picture {
  width: 4rem;
  height: 4rem;
}
